<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="../bootstraps/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="../jquery/jquery-3.2.0.min.js"></script>
    <script src="../bootstraps/dist/js/bootstrap.js"></script>
    <script src="angular.min.js"></script>
    
</head>
<body>
    <div class="container" ng-app="page" ng-controller="pageController">

        <div class="media" ng-repeat="(key,value) in table" >
            <div class="media-left">
                <img alt="Alternate Text"  ng-src="{{value.img}}" width="100" height="100" />
            </div>
            <div class="media-body ">
                <div class="media-heading">
                    <h4>{{value.name}}</h4>
                    <hr />
                </div>
                <div class="media-bottom">价格 : {{value.price}} $</div>
                <a href="#" class="btn btn-danger" ng-click="delete(key)">删除</a>
            </div>
        </div>

        <a href="#" class="btn btn-default" ng-click="show()">查看更多</a>
         
    </div>


</body>
</html>
<script>
    var app = angular.module("page", ['ng']);
    app.controller("pageController", ($scope) => {
        $scope.name = "100$";
        $scope.table = [
            { name: "关然炒辣椒", price: "10.9", img: "../image/披萨饼.jpg" },
            { name: "关然炖黄瓜", price: "6.36", img: "../image/羊排.jpg" },
            { name: "女孩", price: "6.36", img: "../image/女孩1.jpg" },
            { name: "关然炒肉丝", price: "10", img: "../image/猪大肠.jpg" },]
        $scope.show = () => {
            $scope.table.push({ name: "关然炒肉丝", price: "10", img: "../image/猪大肠.jpg" });
        }
        $scope.delete = (i) => {
            $scope.table.splice(i, 1);
        }
    })

   
</script>